@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    color: #1D1D1B;
    line-height: 1;
    font-family: 'Nanum Gothic';
}
button {
    background-color: transparent;
    border: none;
}
/* 👍👍👍상단바👍👍👍 */
#header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #05A694,#57D18F);
    color: #fff;
    z-index: 999;
}
#header .header_inner {
    width: 1820px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.nav-up {
    top: -60px !important;
}
.nav-down {
    top: 0px !important;
}
#header .header_inner h1 {
    font-size: 22px;
    cursor: pointer;
}
#header .header_inner .pc_nav .pc_gnb {
    width: 543px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 170px;
    align-items: center;
}
#header .header_inner .util {
    width: 120px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
#header .header_inner .util button {
    cursor: pointer;
}
#header .header_inner .util button img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* 👍👍👍검색창 / 탭메뉴👍👍👍 */
#input_tab02 {
    width: 100%;
    height: 176px;
}
#input_tab02 .input {
    width: 690px;
    height: 56px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    margin-bottom: 46px;
}
#input_tab02 .input > div {
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    color: #05A694;
    font-size: 16px;
    font-weight: bold;
    padding-right: 11px;
    border-right: 2px solid #ddd;
    cursor: pointer;
}
#input_tab02 .input > div .arrow {
    width: 16px;
    height: 16px;
}
#input_tab02 .input input {
    width: 690px;
    height: 56px;
    border-radius: 50px;
    border: 2px solid #999999;
    padding: 0 20px 0 163px;
}
#input_tab02 .input .search {
    width: 36px;
    height: 36px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 119px;
    transform: translateY(-50%);
}
#input_tab02 .tab_bar {
    width: 100%;
    height: 74px;
    line-height: 60px;
    border-bottom: 3px solid #ddd;
    background-color: #fff;
}
#input_tab02 .tab_bar ul {
    width: 732px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 17px;
    align-items: center;
    padding-top: 17px;
}
#input_tab02 .tab_bar ul li {
    width: 119px;
    height: 60px;
    position: relative;
    display: inline-block;
}
#input_tab02 .tab_bar ul li:nth-child(2) {
    padding: 0 32px;
}
#input_tab02 .tab_bar ul li.on::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: #19b193;
    z-index: 1;
}
#input_tab02 .tab_bar img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border: 2px solid #19b193;
    border-radius: 10px;
}
.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* 👍👍👍 마상소프트 베스트 리뷰 👍👍👍 */
.cont01 {
    width: 100%;
    height: auto;
    background-color: #F5F5F7;
}
.cont01 .cont_inner .best_review > h1 {
    font-weight: bold;
    padding-top: 70px;
    font-size: 28px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cont01 .cont_inner .best_review > p {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
    margin-left: 34px;
}
.cont_inner {
    max-width: 1280px;
    width: calc(100% - 10px);
    margin: 0 auto;
}
.swiper-horizontal {
    height: 483px;
}
.swiper-slide {
    width: 200px;
    height: 355px;
    position: relative;
    margin-top: 30px;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.swiper-slide, .swiper-slide-prev, .swiper-slide-next {
    transform: scale(0.9);
    transition: all 0.5s;
}
.swiper-slide-active {
    transform: scale(1);
    transition: all 0.5s;
}
.swiper-slide .number {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #0EAB94;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    border: 3px solid #0EAB94;
    font-weight: bold;
}
.swiper-slide img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-slide .text {
    width: 100%;
    height: 49px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}
.swiper-slide .text h1 {
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
}
.swiper-slide .text p {
    font-size: 14px;
    color: #666;
    margin: 0 auto;
}
.swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    background: url('../img/best_slide_right.png') center center / cover no-repeat;
    right: 50% !important;
    margin-right: -58px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: url('../img/best_slide_left.png') center center / cover no-repeat;
    left: 50% !important;
    margin-left: -58px;
}
.swiper-button-next, .swiper-button-prev {
    bottom: 0 !important;
    top: auto !important;
}

/* ✌️✌️✌️ 도서 리뷰 리스트 ✌️✌️✌️ */
.review_list {
    margin-top: 70px;
}
.review_list > h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.review_list > p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    margin-left: 34px;
}
.review_list .review_list_tab {
    display: flex;
    justify-content: space-between;
}
.review_list .review_list_tab ul {
    display: flex;
    justify-content: flex-start;
}
.review_list .review_list_tab ul li {
    height: 44px;
    line-height: 44px;
    padding: 0 22px;
    color: #666;
    background-color: #eee;
    border-radius: 30px;
    margin-left: 6px;
    margin-bottom: 50px;
    cursor: pointer;
}
.review_list .review_list_tab ul li:first-child {
    margin-left: 0;
}
.review_list .review_list_tab ul li.on {
    background-color: #57D18F;
    color: #fff;
    font-weight: bold;
}
.review_list .i_icon {
    width: 16px;
    height: 16px;
    margin-top: 21px;
}
.review_list .i_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.review_list_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    display: none;
}
.review_list_box.on {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.review_list_box .item {
    width: calc(100% / 3 - 30px);
    height: 247px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.review_list_box .item .item_header {
    height: 64px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 24px;
}
.review_list_box .item .item_header > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.review_list_box .item .item_header .item_header_user {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}
.review_list_box .item .item_header .name_text {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review_list_box .item .item_header .name_text h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.review_list_box .item .item_header .name_text > p {
    font-size: 12px;
    color: #666;
}
.review_list_box .item .item_header .heart {
    position: absolute;
    bottom: 10px;
    right: 32px;
}
.review_list_box .item .item_header .heart img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-right: 2px;
}
.review_list_box .item .item_header .heart p {
    color: red;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review_list_box .item .book_itme {
    padding: 15px 27px 24px 28px;
    display: flex;
    justify-content: space-between;
}
.review_list_box .item .book_itme #book_title {
    width: 215px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.review_list_box .item .book_itme #book_title h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 17px;
}
.review_list_box .item .book_itme #book_title p {
    height: 90px;
    font-size: 13px;
    color: #666;
}
.review_list_box .item .book_itme #book_title > div p {
    position: relative; 
    line-height: 1.4; 
    margin-bottom: 20px;
    overflow: hidden; 
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box; 
}
.more-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #aaa;
    cursor: pointer;
}
.show-more .more-btn {
    display: none;
}

.review_list_box .item .book_itme .book_img img {
    width: 104px;
    height: 144px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.plus_icon {
    display: flex;
    justify-content: center;
}
.plus_icon a {
    width: 177px;
    height: 60px;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 40px;
}


/* 🤞🤞🤞 직무별 카테고리 🤞🤞🤞 */
.team_category {
    margin-top: 70px;
}
.team_category > h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team_category > p {
    font-size: 14px;
    color: #666;
    margin-bottom: 50px;
    margin-left: 34px;
}
.category_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
}
.category_list .box {
    width: 300px;
    height: 229px;
    border-radius: 10px;
    border: 1px solid rgb(45, 169, 60, 0.3);
    position: relative;
}
.category_list .team_right_icon {
    position: absolute;
    top: 7px;
    right: 11px;
    z-index: 2;
}
.category_list .box02 {
    width: 300px;
    height: 229px;
    border-radius: 10px;
    border: 1px solid #94DAC5;
    position: relative;
}
.category_list a .book_box {
    width: 100%;
    height: 157px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.category_list a .book_box::before {
    content: '';
    width: 256px;
    height: 6px;
    background-color: #fff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}
.category_list a .book_box img {
    width: 70px;
    height: 96px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 8px;
}
.category_list a .book_box img:first-child {
    margin-left: 0;
}
.category_list a .team_text {
    width: 100%;
    height: 72px;
    background-color: rgb(45, 169, 60, 0.3);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}
.category_list .box02 a .team_text {
    width: 100%;
    height: 72px;
    background-color: #94DAC5;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}
.category_list a .team_img_text {
    display: flex;
    justify-content: flex-start;
}
.category_list a .team_img_text .team_img {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.category_list a .team_img_text .team_img img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.category_list a .team_img_text .title .text_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.category_list a .team_img_text .title .text_title img {
    margin-left: 5px;
}
.category_list a .team_img_text .title .text_sub {
    font-size: 12px;

}
.team_user {
    display: flex;
}
.team_user img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -20px;
}
.team_user img:last-child {
    margin-left: 0;
}
.team_user .team_user_number {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -16px;
    /* z-index: 1; */
}
.team_user_number img {
    -webkit-filter: blur(5px);
    backdrop-filter: blur(10px);
}
.team_user_number::after {
    content: "+10";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-size: 12px;
}
.category_plus_icon {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
}
.category_plus_icon a {
    width: 177px;
    height: 60px;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 40px;
}


/* 👌👌👌탑버튼 / 글쓰기 버튼👌👌👌 */
.top_btn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 75px;
    right: 120px;
}
.writing_icon {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 133px;
    right: 120px;
}

/* 👌👌👌footer👌👌👌 */
.footer {
    width: 100%;
    height: 224px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 336px;
    border-top: 3px solid #ddd;
    background-color: #eee;
}
.footer .footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer_logo img {
    width: 141px;
    height: 48px;
    object-fit: cover;
}
.footer .footer_right {
    color: #666;
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer_right .footer_icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}
.footer .footer_right .footer_icon img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.footer .footer_right .text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.footer .footer_right .text p {
    padding: 0 8px;
    border-right: 1px solid #999;
}
.footer .footer_right .text p:last-child {
    border-right: 0;
    padding-right: 0;
}
.footer .footer_right > p {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}