@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    color: #1D1D1B;
    line-height: 1;
    font-family: 'Pretendard-Regular';
}
button {
    background-color: transparent;
    border: none;
}

/* .depth02 {display: none;} */
/* 👍👍👍상단바👍👍👍 */
#header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #05A694,#57D18F);
    color: #fff;
    z-index: 999;
}
#header.visible {
    top: 0;
}
#header .header_inner {
    width: 1820px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
#header .header_inner h1 {
    font-size: 22px;
    cursor: pointer;
}
#header .header_inner .pc_nav .pc_gnb {
    width: 529px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 170px;
    align-items: center;
}
#header .header_inner .util {
    width: 120px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
#header .header_inner .util button {
    cursor: pointer;
}
#header .header_inner .util button img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* 👍👍👍검색창 / 탭메뉴👍👍👍 */
#input_tab02 {
    width: 100%;
    height: 208px;
}
#input_tab02 .input {
    width: 690px;
    height: 56px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    margin-bottom: 53px;
}
#input_tab02 .input input {
    width: 690px;
    height: 56px;
    border-radius: 50px;
    border: 2px solid #999999;
    padding: 0 20px 0 70px;
}
#input_tab02 .input img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}
#input_tab02 .tab_bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 3px solid #ddd;
    background-color: #fff;
}
#input_tab02 .tab_bar ul {
    width: 732px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 17px;
    margin-bottom: 12px;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 필요 시 z-index 값 조정 */
}


/* 💥💥💥💥💥수정해야해!!!💥💥💥💥💥 */
.cont01 {
    width: 100%;
    height: auto;
}
.cont01 .best_review {
    margin-top: 80px;
}
.cont01 .best_review h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px;
}
.cont01 .best_review > p {
    font-size: 12px;
    color: #666666;
    margin-bottom: 16px;
}
.best_slide_item {
    width: 180px;
    height: 297px;
}
.best_slide_item .book_img {
    position: relative;
    width: 100%;
    height: 250px;
    cursor: pointer;
}
.best_slide_item .book_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
.best_slide_item .book_img p {
    width: 48px;
    height: 48px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: #73473B;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 9px;
    padding-top: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0;
}
.best_slide_item .book_img p.good_best {
    background-color: #FA5252;
}
.best_slide_item .book_text {
    padding-left: 8px;
    margin-top: 12px;
    width: 128px;
}
.best_slide_item .book_text p:first-child {
    font-weight: bold;
    margin-bottom: 7px;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.best_slide_item .book_text p:nth-child(2) {
    font-size: 12px;
    color: #666;
}
.best_slide_item .book_text .book_mark {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 7px;
    right: 0;
    cursor: pointer;
}
.best_slide_item .book_text .book_mark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    overflow: visible !important;
}
.swiper-wrapper {
    overflow: hidden;
}
.swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    right: -14px !important;
    background: url('../img/best_slide_right.png') center center / cover no-repeat;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    left: -14px !important;
    background: url('../img/best_slide_left.png') center center / cover no-repeat;
}


.review_list {
    margin-top: 59px;
}
.review_list > h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px;
}
.review_list > p {
    font-size: 12px;
    color: #666;
    margin-bottom: 11px;
}
.review_list .review_list_tab {
    display: flex;
    justify-content: space-between;
}
.review_list .review_list_tab ul {
    display: flex;
    justify-content: flex-start;
}
.review_list .review_list_tab ul li {
    height: 37px;
    line-height: 37px;
    padding: 0 22px;
    border: 1px solid #666;
    color: #666;
    border-radius: 30px;
    margin-left: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}
.review_list .review_list_tab ul li:first-child {
    margin-left: 0;
}
.review_list .review_list_tab ul li.on {
    background-color: #56BB9F;
    border: 1px solid #56BB9F;
    color: #fff;
    font-weight: bold;
}
.review_list .i_icon {
    width: 16px;
    height: 16px;
    margin-top: 21px;
}
.review_list .i_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review_list .review_list_menu {
    display: none;
}
.review_list .review_list_menu.on {
    display: block;
}
.review_list .review_list_menu > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.review_list .review_list_menu .item {
    width: 180px;
    height: 306px;
}
.review_list .review_list_menu .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.review_list .review_list_menu .item .review_tab_text {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}
.review_list .review_list_menu .item .review_tab_text .tab_user {
    margin-right: 6px;
}
.review_list .review_list_menu .item .review_tab_text .tab_user img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}
.review_list .review_list_menu .item .review_tab_text .text {
    margin-top: 8px;
}
.review_list .review_list_menu .item .review_tab_text .text p:first-child {
    font-size: 16px;
    font-weight: bolder;
    color: #000;
    margin-bottom: 3px;
}
.review_list .review_list_menu .item .review_tab_text .text p:last-child {
    font-size: 14px;
    color: #666;
}
.review_list .review_plus_icon a {
    width: 183px;
    height: 50px;
    background: url('../img/review_plus_icon.png') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 200px;
}
.review_list .review_plus_icon a:hover {
    width: 183px;
    height: 50px;
    background: url('../img/review_plus_icon_hover.png') center center / cover no-repeat;
}